DATABASE_URL=postgresql://username:password@localhost:5432/database_name
REDIS_HOST=redis-cache
SECRET_KEY=your-secret-key
DEBUG=False
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SECURE_HSTS_SECONDS=2592000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=True
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True
RENDER_EXTERNAL_HOSTNAME=your-app.onrender.com