POSTGRES_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
REDIS_HOST=
SECRET_KEY=
DEBUG=
DJANGO_SECURE_SSL_REDIRECT=
DJANGO_SECURE_HSTS_SECONDS=
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=
DJANGO_SECURE_HSTS_PRELOAD=
DJANGO_SESSION_COOKIE_SECURE=
DJANGO_CSRF_COOKIE_SECURE=

DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=False
DJANGO_SECURE_HSTS_PRELOAD=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False