{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1 class="display-4">{{ post.title }}
  <button type="button" class="btn btn-outline-dark">
    {% if total_views %}
      {{ total_views }} view{{ total_views|pluralize }}
    {% endif %}
  </button>
  </h1>

  <p class="tags lead mb-0">
    {% with post.tags.all as tags %}
      {% if tags %}
        Tags:
        {% for tag in tags %}
          <a class="text-decoration-none" href="{% url "blog:post_list_by_tag" tag.slug %}">
            {{ tag.name }}
          </a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      {% else %}
        No tags
      {% endif %}
    {% endwith %}
  </p>

  <p class="blog-post-meta lead mb-0">
    {% if post.publish %}
      Published {{ post.publish }} by 
      <a href="{{ post.author.get_absolute_url }}">
        {{ post.author }}
      </a>
    {% else %}
      Draft Post
    {% endif %}
  </p>

  <fieldset class="border rounded-3 m-2 p-2 text-break col-md-10">
    <p>{{ post.body }}</p>
  </fieldset>

  <div>
  <p>
    <a href="{% url "blog:post_update" post.id %}" class="btn btn-primary" role="button">
      Edit this post
    </a>

    <a href="{% url "blog:post_delete" post.id %}" class="btn btn-danger" role="button">
      Delete this post
    </a>

    <a href="{% url "blog:post_share" post.id %}" class="btn btn-info" role="button">
      Share this post
    </a>
  </p>
  </div>

  <h2>Similar posts</h2>
  {% for post in similar_posts %}
  <a class="text-decoration-none fw-bold" href="{{ post.get_absolute_url }}">
    {{ post.title }}
  </a>{% if not forloop.last %}, {% endif %}
  {% empty %}
    There are no similar posts yet.
  {% endfor %}

  {% with comments.count as total_comments %}
    <h2>
      {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
  {% endwith %}
  {% for comment in comments %}
    <div class="comment">
      <p class="info">
        Comment {{ forloop.counter }} by {{ comment.commented_by }}
        {{ comment.created }}
      </p>
      {{ comment.body|linebreaks }}
    </div>
  {% empty %}
    <p>There are no comments yet.</p>
  {% endfor %}
  {% include "blog/includes/comment_form.html" %}
{% endblock %}