{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1 class="card-title">{{ post.title }}
  {% if total_views %}
    <button type="button" class="btn btn-outline-dark">
      {{ total_views }} view{{ total_views|pluralize }}
    </button>
  {% endif %}
  </h1>

  {% include "blog/includes/post_meta.html" with post=post %}

  <p class="card-text fs-5 text">
    <p>{{ post.body|linebreaks }}</p>
  </p>
  <fieldset class="border rounded-3 m-2 px-3 card-text fs-5 text col-md-10">
    
  </fieldset>

  <div>
  <p>
    <a href="{% url "blog:post_update" post.id %}" class="btn btn-primary" role="button">
      Edit this post
    </a>

    <a href="{% url "blog:post_delete" post.id %}" class="btn btn-danger" role="button">
      Delete this post
    </a>

    <a href="{% url "blog:post_share" post.id %}" class="btn btn-info" role="button">
      Share this post
    </a>
  </p>
  </div>

  <h2>Similar posts</h2>
  {% for post in similar_posts %}
  <a class="text-decoration-none fw-bold" href="{{ post.get_absolute_url }}">
    {{ post.title }}
  </a>{% if not forloop.last %}, {% endif %}
  {% empty %}
    There are no similar posts yet.
  {% endfor %}

  {% with comments.count as total_comments %}
    <h2>
      {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
  {% endwith %}
  {% for comment in comments %}
  <div class="card border-0 shadow-sm">
    <div class="card-body">
      <h6 class="fw-bold">
        Comment {{ forloop.counter }} by {{ comment.commented_by }}
        {{ comment.created }}
      </h6>
      <p>{{ comment.body|linebreaks }}</p>
    </div>
  </div>
  {% empty %}
    <p>There are no comments yet.</p>
  {% endfor %}

  {% include "blog/includes/comment_form.html" %}

{% endblock %}