{% extends "base.html" %}

{% block title %}Posts ranking{% endblock %}

{% block content %}
  <h1>Posts ranking</h1>
  <ul class="pagination">
    {% if switch == "viewed" %}
        <li class="page-item disabled">
      {% else %}
        <li class="page-item">
      {% endif %}
        <a class="page-link" href="{% url "blog:ranking" %}">Most Viewed</a>
      </li>
    
    {% if switch == "commented" %}
      <li class="page-item disabled">
    {% else %}
      <li class="page-item">
    {% endif %}
        <a class="page-link" href="{% url "blog:ranking_comment" %}">Most Commented</a>
      </li>
  </ul>
    {% include "blog/includes/truncate_post.html" with posts=posts %}
{% endblock %}