{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Tags{% endblock %}

{% block content %}
  <h1>Tags</h1>

  <h3>Search tag</h3>
  <div class="col-md-3">
  <form method="get">
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="Search">
    <a href="{% url "blog:tag_create" %}" class="btn btn-primary" role="button">Add new tag</a>
  </form>
  </div>
  
  {% if query %}
    <h3>Similar tags to "{{ query }}"</h3>
  {% endif %}

  <ul class="list-group list-group-flush col-md-3">
    {% for tag in tags %}
    <li class="list-group-item">
      <a class="text-decoration-none" href="{% url "blog:post_list_by_tag" tag.slug %}">
        {{ tag.name }}</a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}